meta(charset="utf-8")
meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
meta(content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport")
title.
  webtrax! &mdash; #{pageTitle}
script(src="/bower_components/modernizr/modernizr.js")
script(src="/socket.io/socket.io.js")
link(rel="stylesheet" href="/stylesheets/main.css")
//if lt IE 9
  link rel="stylesheet" href="/stylesheets/ie8.css"
  script src="/bower_components/respond/dest/respond.min.js"
