#control-panel.control-panel
  h1 webtrax
  include _transport
  hr
  canvas#spectrograph
  hr
  button(type='button' name='record-toggle' id='record-toggle') Record New Track
  hr
  .master-effects
    include _echo_master_controls
