#recorder.recorder
  input(id='rec' type='submit' value='record new' onClick='recordNew()')
  input(id='rec' type='submit' value='stop recording' onClick='recordStop()')
  input(id='recname' type='text' value='new')
  input(id='rec' type='submit' value='save recording' onClick='recordSave()')
  input(id='rec' type='submit' value='cancel' onClick='recordCancel()')
