#recorder.recorder
  input(id='recorder-start' type='submit' value='record new')
  input(id='recorder-stop' type='submit' value='stop recording')
  input(id='recording-name' type='text' value='' placeholder='Name your new track')
  input(id='recorder-save' type='submit' value='save recording' onClick='recordSave()')
  input(id='recorder-cancel' type='submit' value='cancel' onClick='recordCancel()')
