section#reverb-master-controls.effects-master-controls
  h3 Reverb
  label(for='reverb-type') Type
  select(name='reverb-type' id='reverb-type')
    option(value='bedroom') Bedroom
    option(value='bathroom') Bathroom
    option(value='hall' selected) Hall
  label(for='reverb-level') Level
  input(type='range' name='reverb-level' id='reverb-level' min='0' max='1' step='0.01' value='0.15')
