section#transport.transport
  button#play.play Play
  button#pause.pause Pause
  button#stop.stop Stop
  label(for='master-vol') Master Volume
  input(type='range' name='master-vol' id='master-vol' min='0' max='3' step='0.01' value='1')
