script#track-template(type='text/template')
  form.track(id='{{id}}')
    fieldset.track-controls
      h2.track-label {{name}}

      label(for='{{id}}-mute')
        input(type='checkbox' data-track='{{id}}' name='{{id}}-mute' id='{{id}}-mute' value='on').track-mute-toggle
        |  Mute

      input(type='range' data-track='{{id}}' name='{{id}}-vol' id='{{id}}-vol' min='0' max='3' step='0.01' value='1').track-vol

      hr

      label(for='{{id}}-echo-toggle') Echo
      input(type='range' data-track='{{id}}' name='{{id}}-echo-level' id='{{id}}-echo-level' min='0' max='1' step='0.001' value='0').track-echo-level

    section(id='{{id}}-waveform').track-waveform
      .waveform-wrapper
      button(type='button' data-track='{{id}}' name='{{id}}-remove' id='{{id}}-remove').track-remove &times;
