.control-panel
  position absolute
  top 0
  right 0
  bottom 0
  width $track-controls-width - 2
  padding 1em
  background-color lighten($dark-gray, 20%)
  color $light-gray
  label
    font-size 0.8em
