.track
  position relative
  overflow hidden
  height 8em
  margin-right $track-controls-width - 2
  background-color #eee
  clearfix()
  label
    font-size 0.8em

.track-controls
  position absolute
  top 0
  left 0
  bottom 0
  z-index 12
  margin 0
  padding 0.6em 0.8em
  width $track-controls-width
  border 1px solid darken($dark-gray, 20%)
  border-top-color lighten($dark-gray, 10%)
  border-left-color lighten($dark-gray, 10%)
  box-shadow 0 0 4px darken($dark-gray, 20%)
  background-color #333
  color $light-gray

.track-effects
  position absolute
  top 8px
  left 0
  bottom 8px
  z-index 1
  margin 0
  padding 0.6em 1.2em 0.6em 1.6em
  width $track-controls-width - 4
  border none
  border-radius 3px
  box-shadow 1px 0 4px darken($light-gray, 20%)
  background-color #333
  color $light-gray
  transition left 0.2s ease
  &.open
    left $track-controls-width - 1

.position-indicator
  position fixed
  top 0
  bottom 0
  left $track-controls-width
  right $track-controls-width - 2
  z-index 100
  .needle
    position absolute
    top 0
    left 100%
    bottom 0
    width 2px
    background-color #222
    box-shadow 0 0 1em $light-gray
