@import "./modules/all"

// Base styles:
html
  font-size 18px
  line-height 1.4em
  font-family $font-stack-main
  *
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    box-sizing border-box

.main
  // position relative

// Section-specific styles:
@import "partials/all"
