extends _layout
block vars
  - var pageTitle = 'It’s completely innocuous, we swear.'
block templates
  #tracks.tracks
    .position-indicator
      .needle
  
  include partials/_master_controls
  include partials/_track_template
