.recorder
  display block
  overflow hidden
  position fixed
  top 4em
  left 50%
  z-index 10000
  width 20em
  height 20em
  margin-left -10em
  border-radius 10em
  background-color $dark-gray
  transition top 0.2s ease-out
  &.focused
    top 4em

.recorder-start, .recorder-stop, .recorder-save, .recorder-cancel
  outline none

.recorder-overlay
  @extend .overlay
  display none

.recorder-start
  display block
  width 16rem
  height 16rem
  margin 2rem
  border none
  border-radius 8em
  font-size 2em
  font-weight bold
  background-color #b00
  color $light-gray
  box-shadow 0 0 4px #b00

.recorder-stop
  @extend .recorder-start
  display none
  background-color #d00
  box-shadow 0 0 2em #d00

.recorder-step-1
  hostile-takeover()

.recorder-step-2
  hostile-takeover()
  display none
  text-align center
  margin-top 6em
  color $light-gray
