doctype html
html.no-js(lang="en")
  block vars
  head
    include partials/_document_head

  body
    #main.main
      block templates
      include partials/_controls
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/javascript/main.js')
