doctype html
html.no-js(lang="en")
  block vars
  head
    include partials/_document_head

  body
    #main.main
      block templates
      #control-panel
        include partials/_transport
        include partials/_reverb_master_controls
        include partials/_echo_master_controls
    script(src="/javascript/main.js")
