section#echo-master-controls.effects-master-controls
  h2 Echo Controls
  label(for='echo-type') Echo Time
  input(type='number' name='echo-time' id='echo-time' min='5' max='1000' step='1' value='5')
  label(for='echo-level') Feedback Level
  input(type='range' name='echo-level' id='echo-level' min='0' max='0.9' step='0.01' value='0.15')
