#control-panel.control-panel
  h1 webtrax
  include _transport
  hr
  button(type='button' name='record-toggle' id='record-toggle') Record New Track
  hr
  .master-effects
    h2 Effects
    include _reverb_master_controls
    hr
    include _echo_master_controls
